body {
}
.saas-app-shell__inner {
}
.logo_wrapper {
  position: relative;
}

.logo,
.text {
  width: 200px;
  right: 50px;
  top: 50px;
  position: absolute;
}

.text {
  width: 430px;
  margin-top: 700px;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.saas-app-shell__main {
  background-color: white;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  z-index: -1;
}
.css-vhc7ah {
}

/* .container {
  width: 200px;
  background-color: #c1ffbc;
 
} */

.chakra-ui-light {
  background-color: #d7e8d7;
  margin: 30px 40px 30px 40px;
  border-radius: 20px;
}

.chakra-heading {
  width: 400px;
}

.heading {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.heading_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* flex-wrap: wrap;  //добавить в медиа */
  gap: 200px;
  margin-bottom: 90px;
}

.corses_text {
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.chakra-tabs {
}
.chakra-tabs__tab-panels {
}
.chakra-tabs__tab-panel {
}
.chakra-card {
}
.course_card {
}

.video_wrapper {
  max-width: 1300px;
  max-height: 800px;
}

.videoBackgraund {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.login_modal {
  border: 5px solid #d9d0ff;
  border-radius: 20px;
  margin: auto;
  background: #ffffff;
}

.login_modal_header {
  font-size: 20px;
  padding: 15px;
  text-align: center;
  font-weight: 600;
}

.login_input {
  width: 220px;
  height: 30px;
  border: 1px solid #d9d0ff;
  border-radius: 10px;
}

.login_input::placeholder {
  font-size: 15px;
  padding-left: 10px;
}

/* .login_input:focus {
  border: none;
} */

.login_btn {
  margin: 25px 25px 0px 0px;
}

.login_btn,
.login_closebtn {
  width: 100px;
  background-color: #d7e8d7;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 20px;
}

.login_btn:hover,
.login_closebtn:hover {
  background-color: #d9d0ff;
}
